/* les pharmacies de garde */
.gard{
    width: 90%;
    height: 90vh;
    transform: translate(100px,140px);
}
.gard h2{
    color: #127535;
    text-align: center;
    font-size: 30px;
    transform: translate(0px, 10px);
}
.lin{
    display: block;
    width: 120px;
    height:3px ;
    margin:5px auto ;
    background-color:#127535 ;
    transform: translate(0px, 10px);
}
.degard{
    display: flex;
    width: 80%;
    height: 65vh;
    transform: translate(110px, 40px);
}
.degard1{
    background-color: var(--overlay); 
    text-align: center;
    color: #ffffff;
    height: 65vh;
    width: 60%;
    position: relative;
    margin-top: 0px;
}
.degard1:before{
    content: '';
    background: url('../assets/Degarde.jpg') no-repeat center center/cover ;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.degard2{
    width: 55%;
    display: flex;
    flex-direction: column;
    transform: translate(20px, 0px);
}
.degard2 a{
    color: #ffffff;
}
.degard2 h5{
    color: #127535;
    font-size: 20px;
    transform: translate(20px, 10px)
}
.degard2 p{
    color: black;
    font-size: 15px;
    transform: translate(20px, 10px)
}

.gard1{
    padding:10px 10px ;
    width: 240px;
    font-size:1rem ;
    color:white ;
    font-weight: 600;
    text-transform: uppercase;
    background-color:#127535 ;
    border:1px solid #127535 ;
    border-radius:10px ;
    cursor: pointer;
    transform: translate(17px,30px);
}
.gard2{
    padding:10px 10px ;
    width: 240px;
    font-size:1rem ;
    color:white ;
    font-weight: 600;
    text-transform: uppercase;
    background-color:#127535 ;
    border:1px solid #127535 ;
    border-radius:10px ;
    cursor: pointer;
    transform: translate(17px,60px);
}

.call1{
    width: 30px;
    height: 30px;
    transform: translate(17px,30px);
}
.call2{
    width: 30px;
    height: 30px;
    transform: translate(17px,65px);
}
.span1{
    color: black;
    font-weight: 700;
    font-size: 20px;
    transform: translate(60px,5px);
}
.span2{
    color: black;
    font-weight: 700;
    font-size: 20px;
    transform: translate(60px,40px);
}