/* pharmacie trois */
.linero2{
    display: block;
    width: 100px;
    height:3px ;
    margin:5px auto ;
    background-color:#127535 ;
    transform: translate(0px, 150px);
}
.pharmacy h2{
    color: #127535;
    text-align: center;
    font-size: 30px;
    transform: translate(0px, 165px);
}
.pharmacy p{
    color: black;
    text-align: center;
    font-size: 17px;
    transform: translate(0px, 170px);
}



/* liste des pharmacies partenaires */
.nophcies{
    width: 80%;
    height: 450px;
    transform: translate(140px, 180px);
    display: flex;
}
/* pharmacie 1 */
.nophcies1{
    background-color: var(--overlay-yellow);
    text-align: center;
    color: #ffffff;
    height: 75vh;
    width: 40%;
    position: relative;
    margin-top: 0px;
}
.nophcies1:before{
    content: '';
    background: url('../assets/Vendeur1.jpg') no-repeat center center/cover ;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.nophcies1 button{
    padding:10px 10px ;
    font-size:1rem ;
    color: #127535;
    font-weight: 600;
    text-transform: uppercase;
    background-color:#ffffff ;
    border:1px solid white ;
    border-radius:10px ;
    cursor: pointer;
    transform: translate(-30px,370px);
}
.nophcies1 button a{
    color: #127535;
}
.deux{
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 500px;
}
/* pharmacie 2 */
.nophcies2{
    background-color: var(--overlay); 
    text-align: center;
    color: #ffffff;
    height: 30vh;
    width: 100%;
    position: relative;
    margin-top: 0px;
}
.nophcies2:before{
    content: '';
    background: url('../assets/pharmacy2.jpg') no-repeat center center/cover ;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.nophcies2 button{
    padding:10px 10px ;
    font-size:1rem ;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    background-color:#127535 ;
    border:1px solid #127535 ;
    border-radius:10px ;
    cursor: pointer;
    transform: translate(-160px,100px);
}
.nophcies2 button a{
    color: #ffffff;
}

/* pharmacie trois */
.nophcies3{
    width: 100%;
    height: 200px;
    display: flex;
    transform: translate(0px,0px);
} 
.andrea{
    background-color: var(--overlay); 
    text-align: center;
    color: #ffffff;
    height: 45vh;
    width: 100%;
    position: relative;
    margin-top: 0px;
}
.andrea:before{
    content: '';
    background: url('../assets/Vendeuse44.jpg') no-repeat center center/cover ;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.andrea button{
    padding:10px 10px ;
    width: 240px;
    font-size:1rem ;
    color: #127535;
    font-weight: 600;
    text-transform: uppercase;
    background-color:#ffffff ;
    border:1px solid white ;
    border-radius:10px ;
    cursor: pointer;
    transform: translate(-30px,190px);
}

.radoca{
    background-color: var(--overlay-yellow); 
    text-align: center;
    color: #ffffff;
    height: 45vh;
    width: 100%;
    position: relative;
    margin-top: 0px;
}
.radoca:before{
    content: '';
    background: url('../assets/Vendeur1.jpg') no-repeat center center/cover ;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.radoca button{
    padding:10px 10px ;
    width: 240px;
    font-size:1rem ;
    color: #127535;
    font-weight: 600;
    text-transform: uppercase;
    background-color:white ;
    border:1px solid white ;
    border-radius:10px ;
    cursor: pointer;
    transform: translate(-30px,190px);
}

@media screen and (max-width:940px) {
    .pharmacy {
        width: 100%;
        height: 140vh;
        transform: translate(0px, -10px);
    }
    
    .pharmacy p{
        color: black;
        text-align: center;
        font-size: 12px;
        transform: translate(0px, 170px);
    }
    /* les pharmacies */
    .nophcies{
        width: 80%;
        height: 135vh;
        transform: translate(37px, 200px);
        display: flex;
        flex-direction: column;
    }
      /* pharmacie 1 */
.nophcies1{
    background-color: var(--overlay-yellow);
    text-align: center;
    color: #ffffff;
    height: 30vh;
    width: 100%;
    position: relative;
    margin-top: 0px;
}
.nophcies1:before{
    content: '';
    background: url('../assets/Vendeur1.jpg') no-repeat center center/cover ;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.nophcies1 button{
    padding:10px 10px ;
    font-size:1rem ;
    color: #127535;
    font-weight: 600;
    text-transform: uppercase;
    background-color:#ffffff ;
    border:1px solid white ;
    border-radius:10px ;
    cursor: pointer;
    transform: translate(-30px,135px);
    width: 240px;
}
.nophcies1 button a{
    color: #127535;
}
/* pharmacie 2 */
.nophcies2{
    background-color: var(--overlay); 
    text-align: center;
    color: #ffffff;
    height: 300%;
    width: 167%;
    position: relative;
    margin-top: 0px;
}
.nophcies2:before{
    content: '';
    background: url('../assets/pharmacy2.jpg') no-repeat center center/cover ;
    height: 200%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}
.nophcies2 button{
    padding:10px 10px ;
    font-size:1rem ;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
    background-color:#127535 ;
    border:1px solid #127535 ;
    border-radius:10px ;
    cursor: pointer;
    transform: translate(-30px,40px);
    width: 240px;
}
/* pharmacie trois */
.nophcies3{
    width: 167%;
    height: 75vh;
    display: flex;
    transform: translate(0px,40px);
    flex-direction: column;
    background-color: yellow;
} 
  
    
}