.cards{
    width: 90%;
    height: 70vh;
    transform: translate(80px, 200px);
    display: flex;
    justify-content: space-around;
}
.cards1{
    width: 30%;
    height: 60vh;
    background-color: #7fdd8b;
    display: flex;
    flex-direction: column;
    transform: translate(0px, 10px);
    justify-content: space-around;
}
.imgc{
    width: 90%;
    height: 30vh;
}
.textimgc{
    width: 100%;
    height: 30vh;
    background-color: #127535;
}
.textimgc h5{
    transform: translate(0px, 0px);
}
.textimgc h6{
    transform: translate(0px, 0px);
}
.textimgc p{
    transform: translate(0px, 0px);
}
.doliprane{
    width: 170px;
    height: 170px;
    transform: translate(80px, 10px);
}
.tramadol{
    width: 170px;
    height: 170px;
    transform: translate(80px, 10px);
}

.advil{
    width: 170px;
    height: 170px;
    transform: translate(80px, 10px);
}

.ligne{
    display: block;
    width: 100px;
    height:3px ;
    margin:5px auto ;
    background-color:#127535 ;
    transform: translate(0px, 170px);
}
.fievre{
    width: 100%;
    height: 260vh;
}
.fievre h2{
    color: #127535;
    text-align: center;
    font-size: 30px;
    transform: translate(0px, 180px);
}
.fiep{
    color: black;
    text-align: center;
    font-size: 20px;
    transform: translate(0px, 180px);
}

/* compartiment des transactions */

.transaction{
    width: 90%;
    height: 100vh;
    transform: translate(80px, 200px);
    display: flex;
    justify-content: space-around;
}
.transaction1{
    width: 50%;
    height: 90vh;
    transform: translate(0px, 0px);
}
.transaction2{
    width: 50%;
    height: 90vh;
    transform: translate(0px, 0px);
    /* background-color: plum; */
    display: flex;
}
.trans2{
    width: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* background-color: aqua; */
    transform: translate(45px, 0px);
}
.trans2 input{
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border-radius: 10px; */
    background-color: #7fdd8b;
    border:#7fdd8b ;
}
.com{
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #7fdd8b;
    border:#7fdd8b ;
}
::placeholder {
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.trans2 .file{
    width: 100%;
    height: 6vh;
    transform: translate(0px,3px);
    border: radius 0px;;
}
.trans2 .sbm{
    width: 40%;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #04A118;
}

.transaction h2{
    color: #127535;
    text-align: center;
    font-size: 35px;
    transform: translate(0px, 180px);
}
.p1{
    transform: translate(0px, 0px);
}
.p2{
    transform: translate(0px, 20px);
}
.p3{
    transform: translate(0px, 30px);
}
.process{
    width: 90%;
    height: 28vh;
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
    transform: translate(30px,85px);
}
.film{
    width: 115px;
    height: 115px;
    text-align: center;
}
.film p{
    transform: translate(0px,-20px);
}
.ordi{
    width: 100px;
    height: 100px;
    text-align: center;
}
.delivrery{
    width: 100px;
    height: 100px;
    text-align: center;
}
/* rentrer en contact avec la pharmacie */
.cntact{
    width: 70%;
    height: 20vh;
    transform: translate(300px, 235px);
}
.cntact p{
    color: #127535;
    text-align: center;
    font-size: 20px;
    transform: translate(0px, 0px);
    font-weight: 500;
}
.doonnees{
    width: 85%;
    height: 80vh;
    display: flex;
    transform: translate(140px, 50px);
}
.doonnees1{
    width: 45%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}
.notes2{
    width: 97%;
    height: 9vh;
    color: black;
    font-size: 13px;
    transform: translate(0px,50px);
    text-align: center;
}

/* l adresse */
.cod10{
    transform: translate(0px, -40px);
}
.cod10 img{
    width: 40px;
    height: 40px;
    transform: translate(20px, 40px);
}
.cod10 h6{
    color: #04A118;
    font-size: 20px;
    transform: translate(70px, -35px);
}
.cod10 p{
    color: gray;
    font-size: 17px;
    font-weight: 150;
    transform: translate(-10px, -75px);
}
/* le telephone */
.cod11{
    transform: translate(0px,-130px);
}
.cod11 img{
    width: 35px;
    height: 35px;
    transform: translate(20px, 40px);
}
.cod11 h6{
    color: #127535;
    font-size: 20px;
    transform: translate(70px, -35px);
}
.cod11 p{
    color: gray;
    font-size: 17px;
    font-weight: 150;
    transform: translate(-135px, -75px);
}
/* les horaires */
.cod12{
    transform: translate(20px, -230px);
}
.cod12 img{
    width: 35px;
    height: 35px;
    transform: translate(0px, 40px);
}
.cod12 h6{
    color: #04A118;
    font-size: 20px;
    transform: translate(45px, -35px);
}
.cod12 p{
    color: gray;
    font-size: 17px;
    font-weight: 150;
    text-align: left;
    transform: translate(43px, -75px);
}
/* les reseaux sociaux */
.cod13{
    transform: translate(0px, -270px);
}
.cod13 img{
    width: 35px;
    height: 35px;
    transform: translate(20px, -55px);
}
.cod13 h5{
    color: #127535;
    font-size: 20px;
    transform: translate(20px, -35px);
}
.cod13 p{
    color: gray;
    font-size: 17px;
    font-weight: 150;
    text-align: left;
    transform: translate(70px, -100px);
}

/*partie formulaire*/

.doonnee2{
    width: 45%;
    height: 80vh;
    background-color: #127535;
    display: flex;
    flex-direction: column;
    transform: translate(10px, 0px);
}
.doonnee2 h2{
    color: #ffffff;
    transform: translate(10px, 0px);
}
.formfour{
    width: 80%;
    height: 60vh;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translate(50px, 0px);
}
.formfour input{
        padding:10px 10px ;
        width: 370px;
        font-size:1rem ;
        color:gray ;
        border:1.5px solid #8CC826 ;
        border-radius:10px ;
}
.formfour textarea{
    padding:10px 10px ;
    width: 370px;
    height: 200px;
    font-size:1rem ;
    color:gray ;
    border:1.5px solid #8CC826 ;
    border-radius:10px ;
}
.formfour button{
    padding:10px 10px ;
    width: 240px;
    font-size:1rem ;
    color:white ;
    font-weight: 600;
    text-transform: uppercase;
    background-color:#8CC826 ;
    border:1px solid #8CC826 ;
    border-radius:10px ;
    cursor: pointer;
    transform: translate(140px,0px);
}

@media screen and (max-width:940px) {

    .cards{
        width: 100%;
        height: 160vh;
        transform: translate(0px, 140px);
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    .cards1{
        width: 85%;
         height: 48vh;
         background-color: #7fdd8b;
         display: flex;
         flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translate(20px, 40px);
    }
    .fiep{
        color: black;
        text-align: center;
        font-size: 15px;
        transform: translate(0px, 180px);
    }
    .doliprane{
        width: 50px;
        height: 50px;
    }
    .advil{
        width: 120px;
        height: 120px;
    }
    .tramadol{
        width: 150px;
        height: 150px;
    }
    /* compartiment des transactions */

.transaction{
    width: 90%;
    height: 230vh;
    transform: translate(15px, 200px);
    display: flex;
    flex-direction: column;
}
.transaction1{
    width: 100%;
    height: 153vh;
    transform: translate(0px, 0px);
}
.transaction2{
    width: 100%;
    height: 100vh;
    transform: translate(0px, 30px);
    justify-content: space-around;
    display: flex;
    flex-direction: column;
}
.transaction h2{
    color: #127535;
    text-align: center;
    font-size: 20px;
    transform: translate(0px, 180px);
}
.p1{
    transform: translate(0px, 0px);
    font-size: 12px;
}
.p2{
    transform: translate(0px, 15px);
    font-size: 12px;
}
.p3{
    transform: translate(0px, 35px);
    font-size: 12px;
}

.process{
    width: 90%;
    height: 80vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    transform: translate(15px,100px);
}
.film{
    width: 115px;
    height: 115px;
    text-align: center;
    transform: translate(50px,-20px);
}
.film p{
    transform: translate(50px,-20px);
}
.ordi{
    width: 100px;
    height: 100px;
    text-align: center;
    transform: translate(50px,-10px);
}
.ordi p{
    transform: translate(50px,-10px);
}
.delivrery{
    width: 100px;
    height: 100px;
    text-align: center;
    transform: translate(50px, 10px);
}
.delivrery p{
    transform: translate(50px,10px);
}
/* formulaire commandes et ordonnances */

.transaction2{
    width: 100%;
    height: 120vh;
    transform: translate(0px, 90px);
    display: flex;
}
.trans2{
    width: 85%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translate(29px, 0px);
}
.trans2 input{
    width: 100%;
    height: 6vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #7fdd8b;
    border:#7fdd8b ;
}
.com{
    width: 100%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #7fdd8b;
    border:#7fdd8b ;
}
::placeholder {
    color: gray;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.trans2 .file{
    width: 100%;
    height: 6vh;
    transform: translate(0px,3px);
    border: radius 0px;;
}
.trans2 .sbm{
    width: 40%;
    height: 8vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #04A118;
}
.cntact{
    width: 70%;
    height: 50vh;
    transform: translate(60px, 270px);
}
.notes2{
    width: 97%;
    height: 9vh;
    color: black;
    font-size: 11px;
    transform: translate(0px,50px);
    text-align: center;
}

}