.ligne{
    display: block;
    width: 100px;
    height:3px ;
    margin:5px auto ;
    background-color:#127535 ;
    transform: translate(0px, 170px);
}
.fievre h2{
    color: #127535;
    text-align: center;
    font-size: 30px;
    transform: translate(0px, 180px);
}
.cards{
    width: 80%;
    height: 130vh;
    background-color: aquamarine;
    transform: translate(150px, 180px);
}
.cards1{
    width: 95%;
    height: 60vh;
    background-color: red;
    display: flex;
    justify-content: space-around;
    transform: translate(30px, 10px);
}
.cards2{
    width: 95%;
    height: 60vh;
    background-color: rgb(122, 63, 63);
    display: flex;
    justify-content: space-around;
    transform: translate(30px, 10px);
}
.fever{
    width: 30%;
    height: 50vh;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translate(0px, 10px);
}

.doliprane{
    width: 150px;
    height: 150px;
}
.advil{
    width: 150px;
    height: 150px;
}
.tramadol{
    width: 150px;
    height: 150px;
}

/* rentrer en contact avec la pharmacie */
.cntact{
    width: 95%;
    height: 100vh;
    transform: translate(40px, 225px);
}
.cntact p{
    color: #127535;
    text-align: center;
    font-size: 20px;
    transform: translate(0px, 0px);
    font-weight: 500;
}
.doonnees{
    width: 85%;
    height: 80vh;
    display: flex;
    transform: translate(140px, 50px);
}
.doonnees1{
    width: 45%;
    height: 80vh;
    display: flex;
    flex-direction: column;
}
.notes2{
    width: 95%;
    height: 9vh;
    color: black;
    font-size: 12px;
    transform: translate(80px,50px);
    text-align: center;
}

/* l adresse */
.cod10{
    transform: translate(0px, -40px);
}
.cod10 img{
    width: 40px;
    height: 40px;
    transform: translate(20px, 40px);
}
.cod10 h6{
    color: #04A118;
    font-size: 20px;
    transform: translate(70px, -35px);
}
.cod10 p{
    color: gray;
    font-size: 17px;
    font-weight: 150;
    transform: translate(-10px, -75px);
}
/* le telephone */
.cod11{
    transform: translate(0px,-130px);
}
.cod11 img{
    width: 35px;
    height: 35px;
    transform: translate(20px, 40px);
}
.cod11 h6{
    color: #127535;
    font-size: 20px;
    transform: translate(70px, -35px);
}
.cod11 p{
    color: gray;
    font-size: 17px;
    font-weight: 150;
    transform: translate(-135px, -75px);
}
/* les horaires */
.cod12{
    transform: translate(20px, -230px);
}
.cod12 img{
    width: 35px;
    height: 35px;
    transform: translate(0px, 40px);
}
.cod12 h6{
    color: #04A118;
    font-size: 20px;
    transform: translate(45px, -35px);
}
.cod12 p{
    color: gray;
    font-size: 17px;
    font-weight: 150;
    text-align: left;
    transform: translate(43px, -75px);
}
/* les reseaux sociaux */
.cod13{
    transform: translate(0px, -270px);
}
.cod13 img{
    width: 35px;
    height: 35px;
    transform: translate(20px, -55px);
}
.cod13 h5{
    color: #127535;
    font-size: 20px;
    transform: translate(20px, -35px);
}
.cod13 p{
    color: gray;
    font-size: 17px;
    font-weight: 150;
    text-align: left;
    transform: translate(70px, -100px);
}

/*partie formulaire*/

.doonnee2{
    width: 45%;
    height: 80vh;
    background-color: #127535;
    display: flex;
    flex-direction: column;
    transform: translate(10px, 0px);
}
.doonnee2 h2{
    color: #ffffff;
    transform: translate(10px, 0px);
}
.formfour{
    width: 80%;
    height: 60vh;
    text-align: center;
    
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    transform: translate(50px, 0px);
}
.formfour input{
        padding:10px 10px ;
        width: 370px;
        font-size:1rem ;
        color:gray ;
        border:1.5px solid #8CC826 ;
        border-radius:10px ;
}
.formfour textarea{
    padding:10px 10px ;
    width: 370px;
    height: 200px;
    font-size:1rem ;
    color:gray ;
    border:1.5px solid #8CC826 ;
    border-radius:10px ;
}
.formfour button{
    padding:10px 10px ;
    width: 240px;
    font-size:1rem ;
    color:white ;
    font-weight: 600;
    text-transform: uppercase;
    background-color:#8CC826 ;
    border:1px solid #8CC826 ;
    border-radius:10px ;
    cursor: pointer;
    transform: translate(140px,0px);
}

@media screen and (max-width:940px) {
    .cards{
        width: 100%;
        height: 130vh;
        background-color: aquamarine;
        transform: translate(0px, 200px);
    }
    .cards1{
        width: 100%;
        height: 90vh;
        background-color: red;
        display: flex;
        justify-content: space-around;
        transform: translate(30px, 10px);
        flex-direction: column;
    }

    .doliprane{
        width: 50px;
        height: 50px;
    }
    .advil{
        width: 50px;
        height: 50px;
    }
    .tramadol{
        width: 150px;
        height: 150px;
    }
}